@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter-Web/inter.css);

@import url(./blocks/page/page.css);

@import url(./blocks/body/body.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__hobby/profile__hobby.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);

@import url(./blocks/photo-cards/photo-cards.css);
@import url(./blocks/card/__like-btn/card__like-btn.css);
@import url(./blocks/card/__like-btn/_active/card__like-btn_active.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__pic/card__pic.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__dlt-btn/card__dlt-btn.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__input-form/popup__input-form.css);
@import url(./blocks/popup/__submit-btn/popup__submit-btn.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/profile/__edit-btn-pic/profile__edit-btn-pic.css);
@import url(./blocks/profile/__add-btn-pic/profile__add-btn-pic.css);
@import url(./blocks/profile/__title/profile__title.css);

@import url(./blocks/popup/__big-photo/popup__big-photo.css);
@import url(./blocks/popup/__wrapper/popup__wrapper.css);
@import url(./blocks/popup/__subtitle/popup__subtitle.css);

@import url(./blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(./blocks/popup/__error-message/popup__error-message.css);
@import url(./blocks/popup/__submit-btn/_invalid/popup__submit-btn_invalid.css);

@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/card/__like-nmbr/card__like-nmbr.css);
@import url(./blocks/card/__likes/card__likes.css);
@import url(./blocks/card/__dlt-btn/_disable/card__dlt-btn_disable.css);

@import url(./blocks/page/__login/page__login.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__container/auth__container.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__fieldset/auth__fieldset.css);
@import url(./blocks/auth/__error-container/auth__error-container.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__redirect/auth__redirect.css);
@import url(./blocks/auth/__save-btn/auth__save-btn.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__logout/header__logout.css);
@import url(./blocks/popup/__auth-image/popup__auth-image.css);
@import url(./blocks/popup/__title/_auth/popup__title_auth.css);

